<div id='header_partie_gauche'>
  <img id='deconnexion' class='utilisateur_authentifié cantiniere' src='/cantiniere/images/logoDeco.png'>
  <img id='logo_img' src="/cantiniere/images/logo.png" alt="Logo de l'appli">
</div>
<div id='debug'>
  <!--
      DEBUG
  -->
  <button id="test_cantiniere" type="button">
      Authentification cantinière
  </button>
  <!--
      DEBUG
  -->
</div>
<div id='header_partie_droite'>
  <a class='style_button visiteur' href="/cantiniere/pages/inscription.html">
      S'inscrire
  </a>
  <a class='style_button
  visiteur' href="/cantiniere/pages/connexion.html"> 
      Se connecter
  </a>
  <a id='nom_utilisateur' class='style_button utilisateur_authentifié' href="/cantiniere/pages/affichage_info_user.html">
  </a>
  <a id='nom_cantiniere' class='style_button cantiniere' href="/cantiniere/pages/menu_utilisateur.html">
      Cantinère
  </a>
  <a href="/cantiniere/pages/panier.html">
      <img id='panier_img' src="/cantiniere/images/panier.png" alt="Logo du panier">
  </a>
  <img id='avatar' class='cantiniere utilisateur_authentifié' src="" alt="Avatar">
</div>