<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <h1>Mon compte</h1>

  <ion-grid *ngIf="user">
    <ion-row>

      <ion-col size="7">

        <form>

          <ion-label color="light">Email</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="email" name="email" disabled>{{user.email}}</ion-input>
          </ion-item>
      
          <ion-label color="light">Mot de passe</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="password" name="password" disabled>{{user.password}}</ion-input>
          </ion-item>
      
          <ion-label color="light">Adresse</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="text" name="adress" disabled>{{user.adress}}</ion-input>
          </ion-item>
      
          <ion-label class="ion-margin-bottom" color="light">Nom</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="text" name="name" disabled>{{user.name}}</ion-input>
          </ion-item>
      
          <ion-label color="light">Prénom</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="text" name="firstname" disabled>{{user.firstname}}</ion-input>
          </ion-item>
      
          <ion-label color="light">Tél.</ion-label>
          <ion-item class="ion-margin-bottom">
            <ion-input type="number" name="phone" disabled>{{user.phone}}</ion-input>
          </ion-item>
        
          <ion-button [routerLink]="'/edit-user/' + user.id" color="primary">Modifier informations</ion-button>
      
        </form>

      </ion-col>

      <ion-col size="5">

        <ion-label color="light">Cagnotte</ion-label>
        <ion-item class="ion-margin-bottom">
          <ion-input type="number" name="phone" disabled>{{user.wallet}} €</ion-input>
        </ion-item>
      
        <ion-img class="ion-margin-bottom" [src]="user.image.imagePath"></ion-img>
        
        <!-- TODO: implémenter le routerLink quand la page des commandes sera faite-->
        <ion-button class="ion-text-wrap" color="primary">Voir mes commandes</ion-button>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>