<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-button routerLink="/menu-semaine" size="medium" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/back.png"></ion-label></ion-button>

<ion-content>
  <section id="bg">
    <div class='flex'>
        <h1>Carte</h1>
    </div>
    <div class='flex content fond-carte'>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Boissons Chaudes
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Thé
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Café
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            
        </article>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Boissons Froides
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Coca
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Redbull
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            
        </article>
    </div>
    <div class='flex content fond-carte'>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Viennoiseries
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Croissant
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Pain au raisins
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            
        </article>
        
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Dessert
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Coca
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Redbull
                </div>
                <div class='plat cat'>
                        PRIX: 1€
                </div>
            </div>
            
        </article>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Plat du jour
                </a>
            </div>
            <div class='plat cat'>-Laitue et radis vinaigrette<br/>
                -Filet de lieu sauce chicorée et rouy<br/>
                -Blé safrané & duo de courgettes<br/>
                -Petit suisse nature
            </div>
            <div class='plat cat'>-Poireaux vinaigrette<br/>
                -Omelette et sa garniture d’oignons &
                -champignons<br/>
                -Purée de pommes de terre & brocolis<br/>
                -Fruit de saison
            </div>
        </article>
    </div>
    <div class='flex content fond-carte'>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Sandwichs
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Poulet Curry
                </div>
                <div class='plat cat'>
                        PRIX: 3€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -Thon Mayonnaise
                </div>
                <div class='plat cat'>
                        PRIX: 3€
                </div>
            </div>
            
        </article>
        <article>
            <div class='bouton'>
                <a class='btn style_button' href="#">
                Les petites Faims
                </a>
            </div >
            <div class='carte-cat'>
                <div class='plat cat'>
                    -part de pizza
                </div>
                <div class='plat cat'>
                        PRIX: 1.5€
                </div>
            </div>
            <div class='carte-cat'>
                <div class='plat cat'>
                    -croque-Monsieur 
                </div>
                <div class='plat cat'>
                        PRIX: 2€
                </div>
            </div>
            
        </article>
    </div>
            
</section>
</ion-content>
