<ion-header>
  <app-header></app-header>
  </ion-header>
    
<ion-content class="ion-text-center">

  <p>Trouver un utilisateur</p>

  <ion-item id="input" class="ion-margin-vertical">
    <ion-input placeholder="Email" type="email"></ion-input>
  </ion-item>

  <ion-button color="primary"><b></b>Rechercher</ion-button>

  <ion-row style="border-bottom: groove;">
      <ion-col col-4 >
      <ion-label ><b>Nom</b></ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><b>Prénom</b></ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><b>Mail</b></ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ></ion-label>
    </ion-col>
    
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      Sarah
    </ion-col>
    <ion-col col-4>
      Clure
    </ion-col>
      <ion-col col-4>
      Sarah.Clure@gmail.com
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Bonnie</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Dée</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Bonnie.Dée@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Larry</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Vière</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Larry.Vière@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Harry</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Zona</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Harry.Zona@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Jean</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Transcène</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Jean.Transcène@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Pennie</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Ciline</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Pennie.Ciline@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Lana</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Logue</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Lana.Logue@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Adèle</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Icieux</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Adèle.Icieux@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Sophie</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Stiqué</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Sophie.Stiqué@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label ><br>Alex</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label ><br>Andry</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label ><br>Alex.Andry@gmail.com</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-button routerLink="/gestion-cagnotte" size="small" color="secondary" id="btnRetour"> <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label></ion-button>
    </ion-col>
  </ion-row>

</ion-content>
