<app-header></app-header>

<ion-content>
    <div>
        <h1>
            Se connecter
        </h1>
        <form [formGroup]="userForm" (ngSubmit)="authentification()">
            <ion-label class="ion-margin-bottom" color="light">
                Email
            </ion-label>
            <ion-input (keyup)="authentificationKey($event)" type="email" formControlName="email"></ion-input>
            <ion-label class="ion-margin-bottom" color="light">
                Mot de passe
            </ion-label>
            <ion-input (keyup)="authentificationKey($event)" type="password" formControlName="password"></ion-input>
            <div>
                <ion-button [disabled]="!this.isValid" type="submit" size="large">Valider</ion-button>
                <ion-button size="large" [routerLink]="['/reinitialisation-mdp']" class="ion-text-wrap">Mot de passe oublié</ion-button>
            </div>
        </form>
    </div>
</ion-content>