<ion-list color="primary">
  <ion-item (click)="close()" color="primary">Panier</ion-item>
  <ion-item routerLink="/inscription" (click)="close()" color="primary">S'inscrire</ion-item>
  <ion-item routerLink="/authentification" (click)="close()" color="primary">Se connecter</ion-item>
  <ion-item *ngIf="isConnected" routerLink="/infos-user" (click)="close()" color="primary">{{(user)?user.name:"Invité"}}</ion-item>
  <ion-item (click)="disconnect()" color="primary">Déconnexion</ion-item>
</ion-list>