<ion-header>
  <ion-toolbar>
</ion-toolbar>
</ion-header>

<ion-content (click)="dismiss()">
  <article (click)="showModal()" >
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>
          <a class='btn style_button' href="carte.html">
          Menu du Mardi
          </a>
        </ion-card-title>
        <ion-card-subtitle>
          <div >menu du jour</div >
          
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    
      <ion-card-subtitle><p>Plat "un"</p></ion-card-subtitle>
      <div class='plat'>
        <ul>
          <li>Melon<br/></li>
          <li>Sauce bolognaise végétale aux fèves et courgettesBIO<br/></li>
          <li>Pommes de terre grenaille<br/></li>
          <li>Yaourt nature<br/></li>
        </ul>
      </div>
        <ion-card-subtitle><p>Plat "deux"</p></ion-card-subtitle>
      <div class='plat'>
        <ul>
          <li>Bruchetta mozzarella<br/></li>
          <li>Escalope de poulet Yassa<br/></li>
          <li>Semoule BIO<br/></li>
          <li>Fruit de saison<br/></li>
        </ul>
      </div>
        
    </ion-card>
  </article>
</ion-content>
