ion-content{
  --background: url("../../assets/images/wallpaper\ cafeteria.jpg") no-repeat center center / cover;
}

h1{
  color:white;
  text-align:center;
  font-weight: normal;
  position:relative;
 
}

ion-button{
  position:relative;
  margin:auto;
  display:block;
  text-transform: none;
}

ion-text {
  padding:15px;
}

@media (max-width:540px){

  h1{
    font-size:40px;
    top:10%;
  }

  ion-button{
    width:40%;
    height:15%;
    top:30%;
    font-size:17px;
  }
}

@media (min-width:540px){
  h1{
    font-size:60px;
    top:30%;
  }

  ion-button{
    width:160px;
    height:10%;
    font-size:20px;
    top:50%;
  }
}

ion-button p {
  font-size:10px;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
