    <ion-header>
        <app-header></app-header>
      </ion-header>
      
      <ion-content class="ion-text-center">
      
        <p>Trouver un utilisateur</p>
      
        <ion-item id="input" class="ion-margin-vertical">
          <ion-input placeholder="Email" type="email"></ion-input>
        </ion-item>
      
        <ion-button color="primary">Rechercher</ion-button>
      
        <ion-row style="border-bottom: groove;">
            <ion-col col-4 >
            <ion-label >Nom</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >Prenom</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >Mail</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ></ion-label>
          </ion-col>
          
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom1</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom1</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom2</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom2</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom3</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom3</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom4</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom4</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom5</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom5</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom6</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom6</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom7</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom7</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom8</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom8</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom9</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom9</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove;">
            <ion-col col-4>
            <ion-label >nom10</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >prenom10</ion-label>
          </ion-col>
            <ion-col col-4>
            <ion-label >nom.prenom@gmail.com</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ><img id="loupe" src="../../assets/images/loupe.png"></ion-label>
          </ion-col>
        </ion-row>

      </ion-content>
